@page
@model Dyreinternatet.Pages.AnimalInfoModel
@{
}
<body>
    <container-sm>
        <div class="text-center">
            <h1>Ekstra info om søde @Model.Animals[Model.idinfo].Name</h1>
        </div>
    </container-sm>
</body>


