@page
@model Dyreinternatet.Pages.BlogCreateModel
@{
}
<body>
	<form method="post" action="">
		<!--BLOG POST START-->
		<label for="comment">Skriv et indlæg:</label>
		<textarea class="form-control" rows="4" id="comment" name="text"></textarea>
		<div class="mb-3">
			<!--File upload-->
			<label for="formFileMultiple" class="form-label"></label>
			<input class="form-control" type="file" id="formFileMultiple" multiple style="width: 200px;">
		</div>
		<button type="submit" class="btn btn-primary">Indsend</button> <!--Submit button-->
	</form> <!--BLOG POST END-->
</body>