@page
@model Dyreinternatet.Pages.BlogModel
@{
}
<link href="~/css/stylesheet.css" rel="stylesheet" />

<!DOCTYPE html>
<h1 class="text-center">Roskilde Internats blog</h1>
<p class="text-center">Se seneste nyt fra internatet her</p>
<html>
<div class="row row-cols-1">
@foreach (var Blog in Model.Blogs)
{
        <div class="card-body">
            <h4 class="card-title">@Blog.Title</h4>
            <p class="card-text"> @Blog.Content<br />Skrevet af: @Blog.Author</p>
            <img src="@Blog.ImagePath" class="card-img-top" alt="Blog Image">
            <a href="BlogEdit" class="btn btn-primary">Rediger</a>
        </div>
}
    <p><a href="BlogCreate?titleCreate=@Model.titleCreate">Klik her</a> for at skrive et blogindlæg</p>
</html>