@page
@model Dyreinternatet.Pages.BlogModel
@{
}
<link href="~/css/stylesheet.css" rel="stylesheet" />

<!DOCTYPE html>
<h1 class="text-center">Roskilde Internats blog</h1>
<p class="text-center">Se seneste nyt fra internatet her</p>
<html>

</html>