@page
@model Dyreinternatet.Pages.CustomerPageModel
@{
}
<div class="row row-cols-3">
    @foreach (var Customer in Model.Customers)
    {
        <div class="card-body">
            <h4 class="card-title">@Customer.Name</h4>
            <p class="card-text">Telefonnummer: @Customer.Telephone<br />Mail: @Customer.Mail</p>
            <a href="CustomerEdit" class="btn btn-primary">Rediger</a>
        </div>

    }
</div>

<p><a href="CustomerCreate">Klik her</a> for at tilføje flere kunder til internattet</p>